@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f3f4f6;
	color: #111827;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@utility button-behavior {
  @apply cursor-pointer;
  @apply transition-transform duration-150 ease-in-out;
  @apply active:translate-y-0.25 active:translate-x-[calc(0.125rem)];
  @apply select-none pointer-fine:select-auto;
  @apply disabled:pointer-events-none;
}
